<!DOCTYPE html>
<html>
    <head>
        <title>{{app.config.name}}</title>
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/min.min.css"/>
        <style type="text/css">
            table {
                table-layout: fixed;
                width: 100px;
            }
            .truncate{
                width: 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        </style>
    </head>
    <body>
        <nav class="nav" tabindex="-1" onclick="this.focus()">
            <div class="container">
                <a class="pagename current" href="{{ path('home') }}">{{app.config.name}} <small>status</small></a>
            </div>
        </nav>
        <article class="row">
            <div class="col c1">&nbsp;</div>
            <div class="col c10">
                <div class="msg">
	                {{count}} links stored in application.
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>LongURL</th>
                            <th>Created at</th>
                            <th>ShortUrl</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for link in links %}
                        <tr>
                            <td class="truncate"><a href="{{link.url}}">{{link.url}}</a></td>
                            <td>{{ link.created_at|date }}</td>
                            <td class="truncate"><a href="{{url('show', {'hash' : link.hash})}}">{{url('show', {'hash' : link.hash})}}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </article>
    </body>
</html>
